{% extends 'base.html' %}

{% block title %}q2_comp: Taxonomy{% endblock %}

{% block content %}
  <h1>Taxonomy assignment comparison</h1>

<h3>Most variable taxon heatmap</h3>
    <div class="col-lg-12">
      <object data="heatmap_most.html" width="1500" height="500" class="center-block"></object>
      <a href="heatmap_most.pdf">
        <br>
        <p class="text-center">Download as PDF</p>
      </a>
      <a href="heatmap_most.png">
        <p class="text-center">Download as PNG</p>
      </a>
    </div>



    <h3>Least variable barplot</h3>
        <div class="col-lg-12">
          <object data="barplot_less.html" width="1000" height="500" class="center-block"></object>
          <a href="barplot_less.pdf">
            <br>
            <p class="text-center">Download as PDF</p>
          </a>
          <a href="barplot_less.png">
            <p class="text-center">Download as PNG</p>
          </a>
        </div>

        <h3>Least variable heatmap</h3>
            <div class="col-lg-12">
              <object data="heatmap_less.html" width="1000" height="500" class="center-block"></object>
              <a href="heatmap_less.pdf">
                <br>
                <p class="text-center">Download as PDF</p>
              </a>
              <a href="heatmap_less.png">
                <p class="text-center">Download as PNG</p>
              </a>
            </div>



      <div class="row">
        <div class="col-lg-12">
          <h1>Most variable taxons</h1>
          <div class="col-lg-12">
            <a href="table.csv">
              <p>Download as tsv</p>
            </a>

      </div>


{% endblock %}
